.botones_laterales {
    position: absolute; 
    top: 200px; 
    right: 30px; 
    z-index: 15; /* Asegura que los botones estén por encima del mapa */
}

.lateral-btn {
    background-color: white;
    border: 0px solid rgb(238, 238, 238); 
    border-radius: 1px;
    padding: 6px;
    /* margin-bottom: 6.5px; */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}

.lateral-btn ion-icon {
    font-size: 1.6rem;
}

.lateral-btn:hover {
    background-color: #f0f0f0;
}

#btn_menu{
    margin-top: 15px;
}